# === User Specified Ignores ===
# These folders will be completely ignored.
older_version_backups/
runs/
"more on tisc"/

# === General Ignores ===
# Ignore binaries, build artifacts, and OS files
/bin/*
!/bin/.empty_needed_for_git
*.o
*.a
*.so
*.dSYM/
.DS_Store

# === Allow-list from remote repository ===
# 1. Ignore every file not explicitly allowed
*

# 2. But, re-include all directories so we can search inside them
!*/

# 3. And re-include the .gitignore file itself
!/.gitignore

# 4. And re-include all files that are tracked in the remote repo
!/Makefile
!/README
!/bin/.empty_needed_for_git
!/config.mk
!/demo/1st_example_load.xyp
!/demo/2nd_example_load.xyp
!/demo/3_flexure/.DS_Store
!/demo/3_flexure/.gmtcommands4
!/demo/3_flexure/flex.PRFL
!/demo/3_flexure/flex.PRM
!/demo/3_flexure/flex.hrz
!/demo/3_flexure/flex.inputs.ps
!/demo/3_flexure/flex.pfl
!/demo/3_flexure/flex.ps
!/demo/3_flexure/flex.xyg
!/demo/3_flexure/flex.xyzt
!/demo/3_flexure/flex000.jpg
!/demo/3_flexure/flex001.jpg
!/demo/3_flexure/flex010.jpg
!/demo/3_flexure/flex011.jpg
!/demo/3_flexure/flex1.UNIT
!/demo/3_flexure/flex2.UNIT
!/demo/3_flexure/flex3.UNIT
!/demo/3_flexure/tisc.gmt.job
!/demo/4_river_transport/.gmtcommands4
!/demo/4_river_transport/.gmtdefaults4
!/demo/4_river_transport/conic_island.PRM
!/demo/4_river_transport/conic_island.ZINI
!/demo/4_river_transport/conic_island.hrz
!/demo/4_river_transport/conic_island.ps
!/demo/4_river_transport/conic_island.st
!/demo/4_river_transport/conic_island.xyw
!/demo/4_river_transport/conic_island000.jpg
!/demo/4_river_transport/conic_island001.jpg
!/demo/4_river_transport/conic_island010.jpg
!/demo/4_river_transport/conic_island011.jpg
!/demo/4_river_transport/conic_island020.jpg
!/demo/4_river_transport/conic_island021.jpg
!/demo/4_river_transport/tisc.gmt.job
!/demo/5_lakes/.gmtcommands4
!/demo/5_lakes/1lake.PRFL
!/demo/5_lakes/1lake.PRM
!/demo/5_lakes/1lake.ZINI
!/demo/5_lakes/1lake.hrz
!/demo/5_lakes/1lake.pfl
!/demo/5_lakes/1lake.ps
!/demo/5_lakes/1lake.st
!/demo/5_lakes/1lake.xyw
!/demo/5_lakes/1lake.xyzt
!/demo/5_lakes/1lake000.jpg
!/demo/5_lakes/1lake001.jpg
!/demo/5_lakes/1lake010.jpg
!/demo/5_lakes/2lakes.PRM
!/demo/5_lakes/2lakes.SLV
!/demo/5_lakes/2lakes.ZINI
!/demo/5_lakes/2lakes.hrz
!/demo/5_lakes/2lakes.ps
!/demo/5_lakes/2lakes.st
!/demo/5_lakes/2lakes.xyw
!/demo/5_lakes/2lakes.xyzt
!/demo/5_lakes/2lakes000.jpg
!/demo/5_lakes/2lakes001.jpg
!/demo/5_lakes/2lakes010.jpg
!/demo/5_lakes/2lakes011.jpg
!/demo/5_lakes/2lakes020.jpg
!/demo/5_lakes/2lakes021.jpg
!/demo/5_lakes/2lakes030.jpg
!/demo/5_lakes/2lakes031.jpg
!/demo/5_lakes/2lakes040.jpg
!/demo/5_lakes/2lakes041.jpg
!/demo/5_lakes/2lakes050.jpg
!/demo/5_lakes/2lakes051.jpg
!/demo/5_lakes/2lakes060.jpg
!/demo/5_lakes/2lakes061.jpg
!/demo/5_lakes/2lakes070.jpg
!/demo/5_lakes/2lakes071.jpg
!/demo/5_lakes/2lakes080.jpg
!/demo/5_lakes/2lakes081.jpg
!/demo/5_lakes/2lakes090.jpg
!/demo/5_lakes/2lakes091.jpg
!/demo/5_lakes/2lakes1.UNIT
!/demo/5_lakes/tisc.gmt.job
!/demo/7_climate/.DS_Store
!/demo/7_climate/.gmtcommands4
!/demo/7_climate/sinusoidal.PRM
!/demo/7_climate/sinusoidal.ZINI
!/demo/7_climate/sinusoidal.hrz
!/demo/7_climate/sinusoidal.outputscreen.txt
!/demo/7_climate/sinusoidal.ps
!/demo/7_climate/sinusoidal.st
!/demo/7_climate/sinusoidal.xyw
!/demo/7_climate/sinusoidal000.jpg
!/demo/7_climate/sinusoidal001.jpg
!/demo/7_climate/sinusoidal010.jpg
!/demo/7_climate/sinusoidal011.jpg
!/demo/7_climate/sinusoidal020.jpg
!/demo/7_climate/sinusoidal021.jpg
!/demo/7_climate/sinusoidal030.jpg
!/demo/7_climate/sinusoidal031.jpg
!/demo/7_climate/sinusoidal040.jpg
!/demo/7_climate/sinusoidal041.jpg
!/demo/7_climate/sinusoidal050.jpg
!/demo/7_climate/sinusoidal051.jpg
!/demo/7_climate/sinusoidal060.jpg
!/demo/7_climate/sinusoidal061.jpg
!/demo/7_climate/sinusoidal070.jpg
!/demo/7_climate/sinusoidal071.jpg
!/demo/7_climate/sinusoidal080.jpg
!/demo/7_climate/sinusoidal081.jpg
!/demo/7_climate/sinusoidal090.jpg
!/demo/7_climate/sinusoidal091.jpg
!/demo/7_climate/sinusoidal100.jpg
!/demo/7_climate/tisc.gmt.job
!/demo/8_Ebro_evol/.DS_Store
!/demo/8_Ebro_evol/.gmtcommands4
!/demo/8_Ebro_evol/Ebro_evol.INT
!/demo/8_Ebro_evol/Ebro_evol.INT2
!/demo/8_Ebro_evol/Ebro_evol.PRFL
!/demo/8_Ebro_evol/Ebro_evol.PRM
!/demo/8_Ebro_evol/Ebro_evol.REC
!/demo/8_Ebro_evol/Ebro_evol.SLV
!/demo/8_Ebro_evol/Ebro_evol.ZINI
!/demo/8_Ebro_evol/Ebro_evol.eros-sed.ps
!/demo/8_Ebro_evol/Ebro_evol.hrz
!/demo/8_Ebro_evol/Ebro_evol.inputs.ps
!/demo/8_Ebro_evol/Ebro_evol.main_river.ps
!/demo/8_Ebro_evol/Ebro_evol.pfl
!/demo/8_Ebro_evol/Ebro_evol.ps
!/demo/8_Ebro_evol/Ebro_evol.screen
!/demo/8_Ebro_evol/Ebro_evol.time-graphs.ps
!/demo/8_Ebro_evol/Ebro_evol.xyw
!/demo/8_Ebro_evol/Ebro_evol.xyzt
!/demo/8_Ebro_evol/Ebro_evol000.jpg
!/demo/8_Ebro_evol/Ebro_evol001.jpg
!/demo/8_Ebro_evol/Ebro_evol010.jpg
!/demo/8_Ebro_evol/Ebro_evol011.jpg
!/demo/8_Ebro_evol/Ebro_evol020.jpg
!/demo/8_Ebro_evol/Ebro_evol021.jpg
!/demo/8_Ebro_evol/Ebro_evol030.jpg
!/demo/8_Ebro_evol/Ebro_evol031.jpg
!/demo/8_Ebro_evol/Ebro_evol040.jpg
!/demo/8_Ebro_evol/Ebro_evol041.jpg
!/demo/8_Ebro_evol/Ebro_evol050.jpg
!/demo/8_Ebro_evol/Ebro_evol051.jpg
!/demo/8_Ebro_evol/Ebro_evol060.jpg
!/demo/8_Ebro_evol/Ebro_evol061.jpg
!/demo/8_Ebro_evol/Ebro_evol070.jpg
!/demo/8_Ebro_evol/Ebro_evol071.jpg
!/demo/8_Ebro_evol/Ebro_evol080.jpg
!/demo/8_Ebro_evol/Ebro_evol081.jpg
!/demo/8_Ebro_evol/Ebro_evol090.jpg
!/demo/8_Ebro_evol/Ebro_evol091.jpg
!/demo/8_Ebro_evol/Ebro_evol1.UNIT
!/demo/8_Ebro_evol/Ebro_evol100.jpg
!/demo/8_Ebro_evol/Ebro_evol101.jpg
!/demo/8_Ebro_evol/Ebro_evol110.jpg
!/demo/8_Ebro_evol/Ebro_evol111.jpg
!/demo/8_Ebro_evol/Ebro_evol120.jpg
!/demo/8_Ebro_evol/Ebro_evol2.UNIT
!/demo/8_Ebro_evol/Ebro_evol3.UNIT
!/demo/8_Ebro_evol/Ebro_evol4.UNIT
!/demo/8_Ebro_evol/Ebro_evol5.UNIT
!/demo/8_Ebro_evol/tisc.gmt.eros-sed.job
!/demo/8_Ebro_evol/tisc.gmt.job
!/demo/8_Ebro_evol/tisc.gmt.time-graphs.job
!/demo/9_Iberian_drainage/.gmtcommands4
!/demo/9_Iberian_drainage/Iber_DTM_topo_5m.grd
!/demo/9_Iberian_drainage/Iberia_Neogene.xy
!/demo/9_Iberian_drainage/Iberia_present.PRM
!/demo/9_Iberian_drainage/Iberia_present.RIV
!/demo/9_Iberian_drainage/Iberia_present.ZINI
!/demo/9_Iberian_drainage/Iberia_present.hrz
!/demo/9_Iberian_drainage/Iberia_present.ps
!/demo/9_Iberian_drainage/Iberia_present.screen
!/demo/9_Iberian_drainage/Iberia_present.st
!/demo/9_Iberian_drainage/Iberia_present.xyw
!/demo/9_Iberian_drainage/Iberia_present000.jpg
!/demo/9_Iberian_drainage/Iberia_present001.jpg
!/demo/9_Iberian_drainage/Iberia_present1.UNIT
!/demo/9_Iberian_drainage/README
!/demo/9_Iberian_drainage/river-basin-size-log-log.jpg
!/demo/9_Iberian_drainage/river-basin-size-log-log.ps
!/demo/9_Iberian_drainage/rivers_order2.xy
!/demo/9_Iberian_drainage/rivers_order3.xy
!/demo/9_Iberian_drainage/tisc.gmt.job
!/demo/README
!/demo/tAo-TISC_comparison/erosdiff/2d.PRM
!/demo/tAo-TISC_comparison/erosdiff/2d.ZINI
!/demo/tAo-TISC_comparison/erosdiff/2d.eros
!/demo/tAo-TISC_comparison/erosdiff/2d.pfl
!/demo/tAo-TISC_comparison/erosdiff/2d.ps
!/demo/tAo-TISC_comparison/erosdiff/2d.xzt
!/demo/tAo-TISC_comparison/erosdiff/3d.PRFL
!/demo/tAo-TISC_comparison/erosdiff/3d.PRM
!/demo/tAo-TISC_comparison/erosdiff/3d.ZINI
!/demo/tAo-TISC_comparison/erosdiff/3d.hrz
!/demo/tAo-TISC_comparison/erosdiff/3d.ps
!/demo/tAo-TISC_comparison/erosdiff/3d.st
!/demo/tAo-TISC_comparison/foreland_basin/.gmtcommands4
!/demo/tAo-TISC_comparison/foreland_basin/.gmtdefaults4
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao.PRM
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao.eros
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao.pfl
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao.ps
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao.screen
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao.xzt
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao000.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao001.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao010.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao011.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao020.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao021.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao030.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao1.UNIT
!/demo/tAo-TISC_comparison/foreland_basin/fb_tao2.UNIT
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc.PRFL
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc.PRM
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc.hrz
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc.pfl
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc.ps
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc.screen
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc.st
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc.xyzt
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc000.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc001.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc010.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc011.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc020.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc021.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc030.jpg
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc1.UNIT
!/demo/tAo-TISC_comparison/foreland_basin/fb_tisc2.UNIT
!/demo/tAo-TISC_comparison/foreland_basin/tisc.gmt.job
!/doc/LICENSE.txt
!/doc/README
!/doc/TISC - Garcia-Castellanos, Jiménez-Munt, 2015, PLOSONE.pdf
!/doc/eustasy.SLV
!/doc/eustasy_Mediterranean.SLV
!/doc/eustasy_longterm.SLV
!/doc/sea_level_Miller2005.SLV
!/doc/sea_level_Miller2005.ps
!/doc/sea_level_Miller2005_Mediterranean.SLV
!/doc/sea_level_Miller2005_Plioquaternary.ps
!/doc/template.PRM
!/doc/template.UNIT
!/doc/template_old_3.1.PRM
!/doc/template_old_4.0.PRM
!/doc/tisc.info.txt
!/include/geomodel.h
!/include/tao+tisc.h
!/include/tisc.h
!/include/types_n_defs.h
!/include/universal.h
!/lib/Makefile
!/lib/libreria.c
!/lib/libreria.h
!/lib/sistbanda.f
!/lib/thin_sheet.f
!/script/cleanPRM
!/script/cpfileroot
!/script/cptiscinp
!/script/cptiscout
!/script/cptiscprj
!/script/eros-Te.job
!/script/generate_topo_cpt.job
!/script/match_OS
!/script/match_arch
!/script/mvtiscprj
!/script/rmtiscout
!/script/tisc.4graphs.gmt.job
!/script/tisc.UNITdrawer.py
!/script/tisc.common.EET.gmt.job
!/script/tisc.common.chi.gmt.job
!/script/tisc.common.chi_profile.gmt.job
!/script/tisc.common.cross_section.gmt.job
!/script/tisc.common.deflection.gmt.job
!/script/tisc.common.deflection_cont.gmt.job
!/script/tisc.common.divides.gmt.job
!/script/tisc.common.drainage.gmt.job
!/script/tisc.common.erosion.gmt.job
!/script/tisc.common.erosrate.gmt.job
!/script/tisc.common.geol+sedload.gmt.job
!/script/tisc.common.gmt.job
!/script/tisc.common.ice.gmt.job
!/script/tisc.common.lithology.gmt.job
!/script/tisc.common.piracy.gmt.job
!/script/tisc.common.rain.gmt.job
!/script/tisc.common.river_basin_chosen.gmt.job
!/script/tisc.common.river_profile.gmt.job
!/script/tisc.common.sed_budgets.gmt.job
!/script/tisc.common.sediment_thickness.gmt.job
!/script/tisc.common.sedload.gmt.job
!/script/tisc.common.thinsheet.gmt.job
!/script/tisc.common.topo+drainage.gmt.job
!/script/tisc.common.topo.gmt.job
!/script/tisc.common.upliftrate.gmt.job
!/script/tisc.cuthrz.job
!/script/tisc.geol.gmt.job
!/script/tisc.gmt.job
!/script/tisc.inputs.gmt.job
!/script/tisc.plot.py
!/script/tisc.present_drainage.gmt.job
!/script/tisc.river_profile.gmt.job
!/script/tisc.sedims+deflect.gmt.job
!/script/tisc.time-graphs.gmt.job
!/script/tisc.topo+EET.gmt.job
!/script/tisc.topo+climate.gmt.job
!/script/tisc.topo+erosed+crossection.gmt.job
!/script/tisc.topo+erosrate+crossection.gmt.job
!/script/tisc.topo+erosrate+vertmove.gmt.job
!/script/tisc.topo+seds+crossection.gmt.job
!/script/tisc.topo.gmt.job
!/script/tisc.topo3D.gmt.job
!/src/Makefile
!/src/blockxyz.c
!/src/call_tisc.c
!/src/cuthrz.c
!/src/invertfile.c
!/src/lonlat2xy.c
!/src/outin.c
!/src/projbanda.f
!/src/surf_proc.c
!/src/test.c
!/src/tisc.c
!/src/tisc.wst
!/src/tiscio.c
!/src/tisclib.c
