# Ignore all executables and binaries in the bin directory
/bin/*
!/bin/.empty_needed_for_git

# macOS specific files
.DS_Store
**/.DS_Store
/bin/*.dSYM/

# Build artifacts
*.o
*.a
*.so
*.dSYM/
*.ps
/src/tags
/src/.tags

# General ignores
*~
*.swp
*.log
*.aux
*.out

# Project specific ignores
/runs/
/tisc_copy_for_upload/
"more on tisc"/
*.tar.gz
*.pptx
*.gif
*.pdf
*.tiff
*.png
*.jpg
.gmtcommands4
