# === User Specified Ignores ===
older_version_backups/
runs/
more_on_tAo/

# === General Ignores ===
bin/*
*.o
*.a
*.so
*.d
*.dSYM/
build/
.DS_Store

# === Ignored Untracked Files ===
src/.tags
src/tags


# === TISC Temporary Files ===
*.tmp
*.mtrz

# === TISC Output Files ===
*.out
*.all
*.hrz
*.xyzt
*.xyw
*.lak
*.st
*.bas
*.eeth
*.vel
*.pfl
*.grainsize
*.thicksalt
*.surftransp
*.ice

# === Graphic Output ===
*.ps
*.jpg
*.png
*.svg
